*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a :hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

.Header{
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(ashu.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Header .navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.Header .navbar .logo a{
    color: rgb(0, 5, 2);
    font-size: 40px;
    font-family: sacramento ;
    margin-left: 30px;
}

.Header .navbar .menu ul{
    margin-left: 60px;
}


.Header .navbar .menu ul li{
    display: inline-block;
    margin-right: 30px;
    align-items: center;
}

.Header .navbar .menu ul li a{
    color: rgb(253, 250, 250);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
}

.Header .contact-info{
    margin-left: 180px;
}

.Header .contact-info ul{
    margin-left: 30px;
}


.Header .contact-info ul li{
    display: inline-block;
    list-style-type: none;
}

.Header .contact-info ul li a{
    color: #fff;
    font-size: 17px;
    transition: all 0.3s;
    font:large;
}

.Header .contact-info ul li a:hover{
    color: rgb(71, 212, 125);
}

.banner{
    text-align: center ;
    background-position: 0vw;
    background-color: transparent;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #c5844f;
    color: white;
  }

.contact-form
{
    margin-top: 90px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    text-align: right;
}

.contact-form h1
{
    font-size: 32px;
    line-height: 30px;
    padding-right: 180px;
}

form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;
    text-align: right;
    margin-right: 100px;
}

.form-control
{
    align-content: right ;
    width: 300px;
    background:rgb(175, 194, 183);
    border: 10px rgb(216, 67, 67);
    outline: 10px rgb(216, 67, 67);
    border-bottom: 1px solid gray;
    color: rgb(12, 9, 9);
    font-size: 18px;
    margin-bottom: 25px;
    border-color: black;
    
    
}

input
{
    height: 45px;
}

form .submit
{
    background: #8ddf9f;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 7px;
}

form .submit:hover
{
    background-color: rgb(214, 107, 57);
    cursor: pointer;
}
